$card_padding: 0.6rem;
$logo_height: 2rem;
$smoll_width: 400px;

:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color-scheme: light dark;
  color: var(--vanilla);
  /* background-color: var(--rich-black); */
  background-color: #181A1B;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --rich-black: #001219ff;
  --midnight-green: #005f73ff;
  --dark-cyan: #0a9396ff;
  --tiffany-blue: #94d2bdff;
  --vanilla: white;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --auburn: #9b2226ff;

  --card-spacing: 1rem;
  --card-padding: $card_padding;
  --logo-height: $logo_height;

  --smoll-width: 400px;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

a {
  font-weight: 500;
  color: var(--alloy-orange);
}
a:hover {
  color: var(--gamboge);
}

html, body, #app, #canvas-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app > * {
  z-index: 1000;
}

.card {
  background: white;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
  border-radius: 0.6rem;
  padding: $card_padding 2*$card_padding;
}

canvas {
  background: black;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 25px -5px, rgba(0, 0, 0, 0.4) 0px 8px 10px -6px;
}

@media (min-width: $smoll_width) {
  .mobile {
    display: none;
  }
}
@media (max-width: $smoll_width) {
  .desktop {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--rust);
    /* background-color: var(--vanilla); */
  }

  a {
    color: var(--dark-cyan);
  }
  
  a:hover {
    color: var(--midnight-green);
  }
}
